
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfx8gzbl4/image/upload/v1685712374/jakob-owens-CiUR8zISX60-unsplash_hruq9h.jpg);">
  <div class="container">
    <h1>Films to bring you joy</strong>!</h1>
    <p>Curate your own to-be-watched lists</p>
  </div>
</div>
<div class="container pt-5">
<h2>Your Lists</h2>
<ul>
  <% @lists.each do |list| %>
<li> <%= link_to list.name, list_path(list)%>
<% if list.photo.key? %>
    <%= cl_image_tag(list.photo.key, width: 200, height: 200, crop: :fill) %>
    <% end %></li>
  <% end %>
  </ul>

<div class="btn btn-success">
<%= link_to "Create new list", new_list_path %>
</div>
</div>
</div>
