<div class="container mt-5">

<h1>Create Your Watch List</h1>
<h2>Your List</h2>

<ul>
  <% @lists.each do |list| %>
<li> <%= link_to list_path(list) do %>
    <%= list.name %> </li>
    <%end %>
</ul>

  <% end %>

<div class="btn btn-success">
<%= link_to "Create new list", new_list_path %>
</div>
</div>
